<div class="row">
  <h1>Educación</h1>
  <div class="container">
    <ul>
      <li>
        <h3>Codo a Codo 4.0</h3>- <h4>2022</h4>
        <p>Testing QA</p>
        <p>ISTQB
          SpiraTeam / Jira 
          Pruebas manuales y automatizadas
          Resgistracion de fallas
          requerimientos / Análisis de Interfaces UX/UIX</p>
      </li>
      <li>
        <h3>Argentina Programa | INTI</h3>- <h4>2022</h4>
        <p>Web FullStack</p>
        <p>Desarrollo FrontEnd (HTML5 | CSS3 | JAvaScript | Boostrap | Angular | TypeScript)
          Desarrollo Backend (Springboot | Apache NetBeans | Java ) </p>
      </li>
      <li>
        <h3>ScrumStudy</h3>- <h4>2021</h4>
        <p>Fundamentals Scrum</p>
        <p>Fundamentos de scrum
          Metodologias ágiles
          Gestion del tiempo y proyectos</p>
      </li>
    </ul>
  </div>
</div>