<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="container">
    <ul>
      <li>
        <h3>SerDigital360</h3>- <h4>2021</h4>
        <p>Asesoramiento y soporte a usuarios en tecnologías sobre plataforma Microsoft 365</p>
      </li>
      <li>
        <h3>Trabajador independiente</h3>- <h4>2012</h4>
        <p>Tareas multiples realizadas como trabajador independiente, desde ventas hasta administracion en proyectos tanto propios, como prestando mis servicios a terceros.</p>
      </li>
      <li>
        <!--<h3>trabajo</h3>- <h4>año</h4>
        <p>actividades</p>-->
      </li>
    </ul>
  </div>
</div>