<div>
<a href="https://www.linkedin.com/in/anaurquiza/"><img src="assets/Imagenes/linked.png" id="linkedimg" class="redes"></a>
<a href="https://twitter.com/urquiza_ani"><img src="assets/Imagenes/twitter.png" id="twitterimg" class="redes"></a>
<a href="https://www.instagram.com/urquizaani/"><img src="assets/Imagenes/inst.png" id="instagramimg" class="redes"></a>
<a href="https://github.com/Aaurquiza"><img src="assets/Imagenes/git.png" id="gitimg" class="redes"></a>
<a href="https://www.facebook.com/anitaurquiza/"><img src="assets/Imagenes/facebook.png" id="facebookimg" class="redes"></a>
</div>