<div class="row"> 
  <h1>
    Hard & Soft Skills
  </h1>

  <div id="grafic" class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="80"
  [subtitleColor]="'0, 18, 51'"
  [radius]="100"
  [imageSrc]="'../assets/Imagenes/iconos/html.png'"
  [showImage]="true"
  [showTitle]="false"
  [imageHeight]="100"
  [imageWidth]="95"
  [showUnits]="false"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#023E7D'"
  [innerStrokeColor]="'#0466C8'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="50"
  [subtitleColor]="'0, 18, 51'"
  [radius]="100"
  [imageSrc]="'../assets/Imagenes/iconos/js.png'"
  [showImage]="true"
  [showTitle]="false"
  [imageHeight]="95"
  [imageWidth]="95"
  [showUnits]="false"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#023E7D'"
  [innerStrokeColor]="'#0466C8'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../assets/Imagenes/iconos/CSS.png'"
  [showImage]="true"
  [showTitle]="false"
  [imageHeight]="95"
  [imageWidth]="95"
  [showUnits]="false"
  [subtitleColor]="'0, 18, 51'"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#023E7D'"
  [innerStrokeColor]="'#0466C8'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="60"
  [radius]="100"
  [imageSrc]="'../assets/Imagenes/iconos/eng.png'"
  [showImage]="true"
  [showTitle]="false"
  [imageHeight]="95"
  [imageWidth]="95"
  [showUnits]="false"
  [subtitleColor]="'0, 18, 51'"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#023E7D'"
  [innerStrokeColor]="'#0466C8'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="75"
  [radius]="100"
  [imageSrc]="'../assets/Imagenes/iconos/git.png'"
  [showImage]="true"
  [showTitle]="false"
  [imageHeight]="95"
  [imageWidth]="95"
  [showUnits]="false"
  [subtitleColor]="'0, 18, 51'"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#023E7D'"
  [innerStrokeColor]="'#0466C8'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../assets/Imagenes/iconos/grupal.png'"
  [showImage]="true"
  [showTitle]="false"
  [imageHeight]="95"
  [imageWidth]="95"
  [showUnits]="false"
  [subtitleColor]="'0, 18, 51'"
  [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#023E7D'"
  [innerStrokeColor]="'#0466C8'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>

</div>