 <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="/assets/Imagenes/foto perfil.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre"> 
      <h4>Ana Urquiza</h4>
      <h6>Full Stack Developer Jr.</h6>
      <h6>Tester QA</h6>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca">
      <span>
        <h1>Acerca de mí</h1>
        <p>Mi nombre es Ana, me he dedicado a emprender en proyectos personales desde el 2010, innovándome en cada oportunidad y acompañando a quien con mi conocimiento y experiencia pueda necesitar una guía.
          Actualmente me encuentro capacitándome y desarrollándome en el mundo de la tecnología y la programación, ampliando horizontes y creciendo en este mundo que me llena de pasión y que descubro cada día.
          Soy una persona responsable, dedicada y comprometida, y la idea de capacitarme para poder siempre cumplir objetivos y crecer me incentiva siempre a ir mas allá.</p>
      </span>
    </div>

</div>